.breadcrumb {
  font-size: 14px;
  font-weight: 400;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  align-items: center;
}

.separator {
  color: var(--neutral_400);
  font-size: 12px;
  margin: 0 8px;
}

.link {
  color: var(--neutral_500);
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.link:hover {
  color: var(--prim_500);
}

.current {
  color: var(--neutral_700);
}
