.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 24px 16px;
  background-color: var(--neutral_50);
  overflow: hidden;
}

.title {
  font-size: 32px;
  font-weight: 700;
  color: var(--neutral_900);
  margin: 16px 0 0;
}

.subtitle {
  font-size: 14px;
  font-weight: 400;
  color: var(--neutral_500);
  margin-top: 4px;
}

.list {
  margin-top: 24px;
}
